.creative-script-tubes-cursor-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  touch-action: none;
  z-index: 0;
}

.creative-script-tubes-cursor-layer canvas {
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
