.creative-script-cursor-fluid-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 9998;
}

body.creative-script-fluid-cursor-active {
  cursor: none !important;
}
