.creative-script-ghost-cursor-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  touch-action: none;
  z-index: 2147483646;
}

.creative-script-ghost-cursor {
  position: absolute;
  width: 90px;
  margin: 20px 0 0 -45px;
  transform-origin: center;
  pointer-events: none;
}

.creative-script-ghost-cursor__head,
.creative-script-ghost-cursor__tail {
  position: relative;
}

.creative-script-ghost-cursor__eyes,
.creative-script-ghost-cursor__mouth {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 34px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 50px;
  background: #161616;
  transform-origin: center;
}

.creative-script-ghost-cursor__eyes {
  box-shadow: 40px 0 0 #161616;
}

.creative-script-ghost-cursor__mouth {
  top: 60px;
  width: 20px;
  height: 15px;
  border-radius: 20px 20px 12px 12px;
  transform-origin: center bottom;
  transform: scale(0);
}

.creative-script-ghost-cursor__tail {
  position: absolute;
  top: 82px;
  width: 100%;
  height: 55px;
}

.creative-script-ghost-cursor__tail::before {
  content: '';
  background: #ffffff;
  position: absolute;
  bottom: 35px;
  left: 0;
  width: 100%;
  height: 100px;
  border-radius: 40px 40px 5px 5px;
}

.creative-script-ghost-cursor__rip {
  width: 15px;
  height: 28px;
  background: #ffffff;
  position: absolute;
  top: 15px;
  left: 0;
  border-radius: 50%;
  animation: creative-ghost-rips 1.2s linear infinite;
  box-shadow: -62px 0 0 #ffffff, -31px 0 0 #ffffff, 31px 0 0 #ffffff, 62px 0 0 #ffffff, 93px 0 0 #ffffff;
}

@keyframes creative-ghost-rips {
  0% {
    left: 0;
    top: 12px;
  }
  50% {
    left: 31px;
    top: 20px;
  }
  100% {
    left: 62px;
    top: 12px;
  }
}
